*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: "Figtree", sans-seri;
}

.background {
    background-color: #f4d04e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 384px;
    padding: 24px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    padding: 24px;
    gap: 24px;
    flex-direction: column;
    background-color: white;
    box-shadow: 8px 8px 0 0 black;
}

.blog-img img {
    height: 200px;
}

.blog-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.blog-tag {
    padding: 4px 12px;
    background-color: #f4d04e;
    border-radius: 4px;
}

.blog-date,
.blog-tag,
.blog-name,
.blog-title {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 900;
}

.blog-date {
    font-weight: 600;
}

.blog-title {
    font-size: 24px;
    font-weight: 900;
}

.blog-title:hover {
    color: #f4d04e;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.blog-desc {
    color: gray;
    line-height: 150%;
}

.blog-author {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 425px) {
    .box {
        width: 327px;
    }
    .blog-date,
    .blog-tag,
    .blog-name {
        font-size: 12px;
    }
    .blog-title {
        font-size: 20px;
    }
    .blog-desc {
        font-size: 14px;
    }
}
